:root {
  --primary-color: rgba(59, 131, 57, 1); /* #3b8339 RGBA */
}
.my-color {
  color: red;
}

.bw-modelica-font {
  font-family: "Bw Modelica";
}

.neofusion-keycloak-theme {
  background: white;
}

.neofusion-keycloak-theme body {
  background: url(./assets/background.png),
    linear-gradient(var(--primary-color), var(--primary-color));
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-burn;
}
