/*
<link rel="preload" href="%PUBLIC_URL%/fonts/BwModelica/BwModelica-Light.otf" as="font" crossorigin="anonymous">
<link rel="preload" href="%PUBLIC_URL%/fonts/BwModelica/BwModelica-Regular.otf" as="font" crossorigin="anonymous">
<link rel="preload" href="%PUBLIC_URL%/fonts/BwModelica/BwModelica-Medium.otf" as="font" crossorigin="anonymous">
<link rel="preload" href="%PUBLIC_URL%/fonts/BwModelica/BwModelica-Bold.otf" as="font" crossorigin="anonymous">
<link rel="preload" href="%PUBLIC_URL%/fonts/BwModelica/BwModelica-ExtraBold.otf" as="font" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="%PUBLIC_URL%/fonts/BwModelica/font.css">
*/

@font-face {
  font-family: "Bw Modelica";
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url("./BwModelica-Light.otf") format("opentype");
}

@font-face {
  font-family: "Bw Modelica";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url("./BwModelica-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Bw Modelica";
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url("./BwModelica-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Bw Modelica";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url("./BwModelica-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Bw Modelica";
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  font-display: swap;
  src: url("./BwModelica-ExtraBold.otf") format("opentype");
}

/*

@font-face {
  font-family: "Bw Modelica";
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url("%PUBLIC_URL%/fonts/BwModelica/BwModelica-Light.otf") format("opentype");
}

@font-face {
  font-family: "Bw Modelica";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url("%PUBLIC_URL%/fonts/BwModelica/BwModelica-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Bw Modelica";
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url("%PUBLIC_URL%/fonts/BwModelica/BwModelica-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Bw Modelica";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url("%PUBLIC_URL%/fonts/BwModelica/BwModelica-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Bw Modelica";
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  font-display: swap;
  src: url("%PUBLIC_URL%/fonts/BwModelica/BwModelica-ExtraBold.otf") format("opentype");
}
/*