:root {
  --primary-color: rgba(59, 131, 57, 1); /* #3b8339 RGBA */
}
.my-color {
  color: red;
}

.bw-modelica-font {
  font-family: "Bw Modelica", sans-serif;
}

.mui-keycloak-theme {
  background: white;
}

.mui-keycloak-theme body {
  background: url(./assets/background.png),
    linear-gradient(var(--primary-color), var(--primary-color));
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-burn;
}

#root,
#storybook-root {
  height: 100%;
}

html,
body {
  height: 100%;
  font-family: "Bw Modelica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}
